fastapi
uvicorn[standard]
httpx
python-dotenv
jinja2

# RAG + Qdrant + 임베딩
langchain
langchain-community
langchain-qdrant
langchain-text-splitters
sentence-transformers
qdrant-client

# 시스템 모니터링
psutil
GPUtil

# 업로드 기능
python-multipart
